@charset "UTF-8";


h4#navegacao_atual a{
    cursor: pointer;
    text-decoration: none;
    color:black;
}

h4#navegacao_atual{
    margin-top: calc(var(--altitude_conteudo) + 120px);
}

h4#navegacao_atual a:hover{
    text-decoration: underline;
}

.add_imagem{
    position: relative;
    width: 50%;
    min-width: 400px;
    border: solid lightgrey 1px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 10px;
    border-radius: 3px;
}

.add_imagem img{
    position: relative;
    width: 70%;

}

div#conteudo_cadastro_produto div#cadastro_pt1{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}



div#conteudo_cadastro_produto div#cadastro_pt2{
    margin-top: 20px;
    display: flex;
    flex-flow: column;
}

div#conteudo_cadastro_produto div#cadastro_pt1 div#info_principal{
    display: flex;
    flex-flow: column;
    padding-left: 20px;
    margin-top: 20px;
}


div#conteudo_cadastro_produto{
    margin-left: 15%;
    margin-right: 15%;
}

div#janela_cadastro_produto{
    display: flex;
    flex-flow: column;
    margin: 0 -16px;
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

div#janela_cadastro_produto input, div#janela_cadastro_produto select, div#janela_cadastro_produto textarea {
  margin-bottom: 20px;
}

 div#janela_cadastro_produto input[type=text], div#janela_cadastro_produto input[type=number]{
  width: 96%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

 div#janela_cadastro_produto input[type=date]{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
 }

div#janela_cadastro_produto div#cadastro_pt1 div#info_principal{
    width: 40%;
}

div#janela_cadastro_produto div#cadastro_pt1 div#info_principal input[type=text]{
    width: 90%;
    min-width: 250px;
}

div#janela_cadastro_produto div#cadastro_pt1 input[type=number]{
    width: 90%;
    min-width: 250px;
}

div#janela_cadastro_produto div#cadastro_pt1 select{
    width: 90%;
    min-width: 250px;
    padding: 5px 20px 15px 20px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

div#janela_cadastro_produto textarea{
    height: 400px;
    padding: 5px 20px 15px 20px;
}

div#janela_cadastro_produto label {
    margin-bottom: 10px;
    display: block;
}

div#janela_cadastro_produto div#cadastro_botoes{
    display: flex;
    flex-flow: row;
    align-content: center;
    align-items: center;
    margin-right: 2%;
    margin-left: 2%;
}

div#janela_cadastro_produto div#cadastro_botoes button{
    width: 31%;
    margin-left: 10px;
    height: 40px;
    outline: none;
}

div#janela_cadastro_produto div#cadastro_botoes button{
    width: 100%;
    margin-left: 10px;
    height: 40px;
    outline: none;
    background-color: #4CAF50;
    color: black;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}

div#janela_cadastro_produto div#cadastro_botoes button#deletar{
    background-color: #f44336;
    display: none;
}

div#janela_cadastro_produto div#cadastro_botoes button#Alterar{
    display: none;
}

div#janela_cadastro_produto div#cadastro_botoes button:hover {
    opacity:1;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

div#janela_cadastro_produto input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;
}
