h4#navegacao_atual a{
    cursor: pointer;
    text-decoration: none;
    color:black;
}

h4#navegacao_atual a:hover{
    text-decoration: underline;
}

div#conteudo_carrinho{
    margin-left: 10%;
    margin-right: 10%;
}

div#conteudo_carrinho table{
    width: 100%;
    border-collapse: collapse;
}

div#conteudo_carrinho tr.item_carrinho{
    border-width: 0px;
    border-top: solid lightgray 1px;
}

div#conteudo_carrinho img{
        width: 15%;
        min-width: 70px;
}

div#conteudo_carrinho th, div#conteudo_carrinho td {
    text-align: center;
    padding: 16px;
}

div#conteudo_carrinho th:last-child, div#conteudo_carrinho td:last-child {
    text-align: center;
}

div#conteudo_carrinho select{
    outline: none;
    width: 50px;
    height: 50px;
}


div#conteudo_carrinho button{
    width: 30%;
    height: 40px;
    margin-left: 35%;
    margin-right: 35%;
    border:none;
    background-color: yellow;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}