

h4#navegacao_atual a{
    cursor: pointer;
    text-decoration: none;
    color:black;
}

h4#navegacao_atual a:hover{
    text-decoration: underline;
}

div#conteudo_compra{
    margin-right: 15%;
    margin-left: 15%;
    margin-top: calc(var(--altitude_conteudo) );
}

div#tela_compra{
    display: flex;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: solid lightgray 1px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

div#tela_compra #detalhes_compra button#btn_carrinho_add{
    background-color: yellow;
    color: black;
    padding: 16px 20px;
    border: none;
    margin-top: -20px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    opacity: 0.8;
}

div#tela_compra #detalhes_compra button#btn_carrinho_add:hover{
    opacity: 1;
}

div#tela_compra #detalhes_compra #pesquisa_cep{
    display: flex;
    position: relative;
    width: auto;
    border-radius:7px;
}

div#tela_compra #detalhes_compra #pesquisa_cep button{
    background-color: lightgray;
    border:none;
    outline: none;
    width: 40px;
}

div#tela_compra #detalhes_compra #pesquisa_cep button:hover{
    background-color: rgb(167, 163, 163);
}

div#tela_compra #detalhes_compra #pesquisa_cep input{
    height: 30px;
    outline: none;
}

div#img_compra img{
    position: relative;
    width: 400px;
    margin-right: 80px;

    left: 0px;
    float: left;
}

div#detalhes_compra{
    float: right;
}

.checked{
    color:yellow;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

div.conteudo_cadastro input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;
}
