@charset "UTF-8";
:root{
        --btns_laterias:block;

}

@media (max-width:683px) {
    :root{
        --btns_laterias: none;
    }
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1#txt_ofertas_do_dia{
    padding-top: 10px;
    position: relative;
    top:var(--altitude_conteudo);
}
    
div.janela{
    margin-top: var(--altitude_conteudo);
    position: relative;
    border-top: #3c73b1 10px solid;
    border-bottom: #3c73b1 10px solid;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

div.janela .produtos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

div.janela div.promocoes_interativo{
    width: auto;
    display: flex;
    flex-flow: row;
    align-content: center;
    align-items: center;
    
}

div.janela input{   
    display: var(--btns_laterias);
    height: 100px;
    box-shadow: 0 0 0 0;
    opacity: 0.5;
    outline: none;
} 

section div.janela{
    border-top: 2px solid lightgray;
    border-bottom: none;
}

div.conteudo {
    margin-right: 10%;
    margin-left: 10%;
}