@charset "UTF-8";

:root{
    --mostrar: block;
    --margem_grid: 50px;
}
@media (max-width:1100px) {
    :root{
    --mostrar: none;
    --margem_grid: 0px;
    }

}

div.listaProdutos{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

div.listaProdutos div.gridProdutos div.janela{
    border-top: none;
    border-bottom: solid lightgray 2px;
    margin-left: var(--margem_grid);
}


h4#navegacao_atual a{
    cursor: pointer;
    text-decoration: none;
    color:black;
}

div.listaProdutos aside{
    display: var(--mostrar);
    width: 200px;
}

div.listaProdutos ul{
    list-style: none;
}

div.listaProdutos div.gridProdutos div#selecionar_pagina li{
    display: inline-block;
}

div.listaProdutos div.gridProdutos div#selecionar_pagina button{
    position: relative;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: solid lightgray 1px;
    cursor: pointer;
}

div.listaProdutos div.gridProdutos div#selecionar_pagina button:hover{
    background-color: lightgray;
}

div.listaProdutos div.gridProdutos div#selecionar_pagina input{
    position: relative;
    height: 50px;
    width: 50px;
    opacity: 0.5;
    outline: none;
    top: 20px;
}

div.listaProdutos aside li{
    padding: 5px;
    font-size: 15px;  
}

div.listaProdutos aside li a{
    text-decoration: none;
    color:rgb(99, 99, 99);
}

div.listaProdutos aside a{
    text-decoration: none;
    color:rgb(99, 99, 99);
}

div.listaProdutos aside h3{
    color: #3c73b1
}

div.listaProdutos aside hr{
    margin-top: -15px;
}

div.listaProdutos a:hover{
    text-decoration: underline;
}
h4#navegacao_atual a:hover{
    text-decoration: underline;
}