@charset "UTF-8";

div.listaProdutos{
    margin-left: 10%;
    margin-right: 10%;
}

div.listaProdutos div.gridProdutos div.janela{
    border-top: none;
    border-bottom: solid lightgray 2px;
    margin-left: 10%;
    margin-right: 10%;
}


h4#navegacao_atual a{
    cursor: pointer;
    text-decoration: none;
    color:black;
}

div.listaProdutos ul{
    list-style: none;
}

div.listaProdutos div.gridProdutos div#selecionar_pagina li{
    display: inline-block;
}

div.listaProdutos div.gridProdutos div#selecionar_pagina button{
    position: relative;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: solid lightgray 1px;
    cursor: pointer;
}

div.listaProdutos div.gridProdutos div#selecionar_pagina button:hover{
    background-color: lightgray;
}

div.listaProdutos div.gridProdutos div#selecionar_pagina input{
    position: relative;
    height: 50px;
    width: 50px;
    opacity: 0.5;
    outline: none;
    top: 20px;
}


div.listaProdutos a:hover{
    text-decoration: underline;
}
h4#navegacao_atual a:hover{
    text-decoration: underline;
}