
div#janela_popup_senha {
  display: none;
  position: fixed; 
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(10,23,55,0.5);
  padding-top: 50px;
}

div.popup_senha{
  box-sizing: border-box;
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 500px;
  height: 420px;
  padding: 15px;
  opacity: 1;
}


hr {
  border: 1px solid lightgray;
  margin-bottom: 25px;
}


div.popup_senha input[type=text],div.popup_senha input[type=email] {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

div.popup_senha input[type=text]:focus,div.popup_senha input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

div.popup_senha button {
  box-sizing: border-box;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

div.popup_senha button:hover {
  opacity:1;
}


div.popup_senha button.cancelar {
  background-color: #f44336;
}

div.popup_senha .confirmar, div.popup_senha .cancelar {
  float: left;
  width: 50%;
}

div.popup_senha input#fechar_senha_popup {
  position: absolute;
  right: 35px;
  top: 15px;
}

