@charset "UTF-8";


h4#navegacao_atual a{
    cursor: pointer;
    text-decoration: none;
    color:black;
}

h4#navegacao_atual{
    margin-top: calc(var(--altitude_conteudo) + 120px);
}

h4#navegacao_atual a:hover{
    text-decoration: underline;
}

div#conteudo_admin_servicos{
    margin-left: 15%;
    margin-right: 15%;
}

div#janela_servicos_admin{
    display: flex;
    flex-flow: column;
    margin: 0 -16px;
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

div#janela_servicos_admin h2{
    padding-bottom: 3px;
    border-bottom: solid 2px lightgray;
}

div.servicos_admin{
    display: flex;
    flex-flow: row;
    margin-top: 20px;
    border: solid 2px lightgray;
    align-content: center;
    align-self: auto;
    flex-wrap: wrap;
    padding: 10px;
    border: 2px solid lightgray;
    background-color: #e6e6e6;
}

div.servicos_admin div{
    margin: 5px;
    border-radius: 2px;
    width: auto;
    background-color: li; 
}

div.servicos_admin div.dados_animal{
    max-width: 300px;
}

div.servicos_admin div p{
    padding-right: 10px;
    padding-left: 10px;
}

div.servicos_admin .botoes_servico {
    height: 100%;
    display: flex;
    flex-flow: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div.servicos_admin .botoes_servico input{
    width: 80px;
    float: right;
    outline: none;
}